<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger [%3line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.core.KotlinDetector" level="OFF">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework.beans.factory.support" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="ru.iopump.qa.allure.service" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

